@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

#container {
    background-color: rgb(170, 164, 164);
    width: 90%;
    height: 600px;
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 55px;
    position: relative;
    border: 1px solid rgb(85, 81, 81);

}

#subcontainer {
    background-image: linear-gradient(to right, rgba(75, 99, 104, 0.986), rgb(163, 185, 214), rgba(75, 99, 104, 0.986));
    width: 97%;
    height: 96%;
    display: flex;
    margin: auto;
    border-radius: 55px 55px 55px 55px;
    transform: translateX(2%);
    margin-bottom: 10%;
    border: 1px solid rgba(0, 0, 0, 0.534);
    justify-content: space-between;
}

#entradalateral {
    left: 8px;
    background-image: linear-gradient(to right, rgb(122, 117, 117), rgb(51, 49, 49));
    width: 2.2%;
    height: 3.8%;
    position: absolute;
    border-radius: 100px;
    margin-top: 10%;
}

.frequencias {

    position: relative;
    width: 33.333%;
    height: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.media1 {
    position: relative;

    border-radius: 55px 0px 0px 55px;
    width: 33.333%;
    height: 100%;

}

.divbuttonmedia1 {
    position: absolute;
    bottom: 5%;
    left: 18%;
    display: flex;
    width: 20%;


}

.button-media1 {
    color: white;
    background-color: black;
    margin-right: 50%;
    padding: 10% 20%;
    border-radius: 5px;
    box-shadow: -2px 2px 0px rgb(59, 58, 58);
}

.jogger {
    position: absolute;
    width: 70%;
    height: 50%;
    border-radius: 200px;
    background-color: black;
    left: 15%;
    bottom: 15%;
    box-shadow: -7px 7px 0px rgb(59, 58, 58), 7px -7px 0px rgb(59, 58, 58), -7px -7px 0px rgb(59, 58, 58), 7px 7px 0px rgb(59, 58, 58);

}

.media2 {
    position: relative;

    border-radius: 0px 55px 55px 0px;
    width: 33.333%;
    height: 100%;
}

.divbuttonmedia2 {
    position: absolute;
    bottom: 5%;
    left: 18%;
    display: flex;
    width: 20%;
}

.button-media2 {
    color: white;
    background-color: black;
    margin-right: 50%;
    padding: 10% 20%;
    border-radius: 5px;
    box-shadow: -2px 2px 0px rgb(59, 58, 58);
}

.button-freq1 {
    position: absolute;
    left: 42.5%;
    top: 14.5%;
    width: 12%;
    height: 9%;
    border-radius: 200px;
    background-color: black;

}

.button-freq2 {
    position: absolute;
    left: 42.5%;
    top: 30%;
    width: 12%;
    height: 9%;
    border-radius: 200px;
    background-color: black;

}

.button-freq3 {
    position: absolute;
    left: 42.5%;
    top: 45%;
    width: 12%;
    height: 9%;
    border-radius: 200px;
    background-color: black;

}

.telainterativa1 {
    position: absolute;
    width: 90%;
    height: 100px;
    background-color: black;
    left: 5%;
    top: 3%;
    border-radius: 40px 5px 0px 0px;
    border: 1px solid black;
}

#texto-interativo1 {
    color: white;
    position: absolute;
    left: 10%;
    top: 25%;
    font-size: 120%;
    line-height: 130%;
    display: none;
}

.telainterativa2 {
    position: absolute;
    width: 90%;
    height: 100px;
    background-color: black;
    left: 5%;
    top: 3%;
    border-radius: 5px 40px 0px 0px;
    border: 1px solid black;
}

#texto-interativo2 {
    color: white;
    position: absolute;
    left: 10%;
    top: 25%;
    font-size: 120%;
    line-height: 130%;
    display: none;
}

#texto-interativo1,
#texto-interativo2>p {
    text-shadow: 1px 1px 1px black;
}

.button-ligar {
    position: absolute;
    width: 12%;
    height: 5%;
    background-color: rgba(75, 99, 104, 0.986);
    border-radius: 5px;
    top: 24%;
    left: 4%;
    border: 1px solid black;
    box-shadow: -2px 2px 0px rgb(59, 58, 58), -0.8px -0.8px 0px rgb(59, 58, 58);
    cursor: pointer;
}

#on {
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.534);
    padding-left: 25%;
    padding-top: 10%;
    font-size: 100%;
    position: absolute;
    cursor: pointer;
}

.button-ligar:active {
    box-shadow: none;
}

.button-desligar {
    position: absolute;
    width: 12%;
    height: 5%;
    background-color: rgba(75, 99, 104, 0.986);
    border-radius: 5px;
    top: 30.5%;
    left: 4%;
    border: 1px solid black;
    box-shadow: -2px 2px 0px rgb(59, 58, 58), -0.8px -0.8px 0px rgb(59, 58, 58);
    cursor: pointer;
}

#off {
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.534);
    padding-left: 25%;
    padding-top: 10%;
    font-size: 100%;
    position: absolute;
    cursor: pointer;
}

.button-desligar:active {
    box-shadow: none;
}

#imgliga {
    position: absolute;
    width: 62%;
    height: 65%;
    top: 15%;
    left: 19%;
}

#imgliga:active {
    width: 60%;
    height: 63%;
}

.divbuttoninterativo1 {
    position: absolute;
    display: flex;
    left: 24%;
    top: 25%;
}

.button-interativo1 {
    color: white;
    background-color: black;
    margin-right: 50%;
    padding: 10% 20%;
    border-radius: 5px;
    box-shadow: -2px 2px 0px rgb(59, 58, 58);
    cursor: pointer;
}

.button-interativo1:active {
    box-shadow: none;
}

.divbuttoninterativo2 {
    position: absolute;
    display: flex;
    left: 24%;
    top: 25%;
}

.button-interativo2 {
    color: white;
    background-color: black;
    margin-right: 50%;
    padding: 10% 20%;
    border-radius: 5px;
    box-shadow: -2px 2px 0px rgb(59, 58, 58);
    cursor: pointer;
}

.button-interativo2:active {
    box-shadow: none;
}

#next1 {
    cursor: pointer;
    color: white;
    background-color: black;

}

#previous1 {
    cursor: pointer;
    color: white;
    background-color: black;
}

#next2 {
    cursor: pointer;
    color: white;
    background-color: black;
}

#previous2 {
    cursor: pointer;
    color: white;
    background-color: black;
}